<script src="https://unpkg.com/vue@next"></script>

<!-- 1、条件渲染 -->
<div id="app">
  <!-- 1.1 v-if -->
  <h1 v-if="awesome">Vue is awesome!</h1>
  <!-- 1.1.1 在<template>上使用v-if -->
  <template v-if="ok">
    <h1>Title</h1>
    <p>Paragraph</p>
    <p>Paragraph</p>
  </template>
  <!-- 1.1.2 v-else -->
  <h1 v-else>Oh no </h1>
  <!-- 1.1.3 v-else if -->
  <div v-if="type==='A'">A</div>
  <div v-else-if="type==='B'">B</div>
  <div v-else-if="type==='C'">C</div>
  <div v-else> Not A/B/C</div>
  <!-- 1.2 v-show -->
  <h1 v-show="show">Hello!</h1>
  <!-- 1.3 v-for -->
</div>
<script>
  const App = {
    data(){
      return{
        awesome: false,
        ok: true,
        show: ''
      }
    }
  }
  Vue.createApp(App).mount('#app')
</script>